<!-- <!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <form method="GET" action="{% url 'index' %}">
        <input type="text" name="q" value="{{ q }}" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    {% if products %}
        <ul>
            {% for product in products %}
                <li>{{ product.name }} - {{ product.price }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found</p>
    {% endif %}
</body>
</html> -->

{% extends 'navbar.html' %}



{%  block content %}

<h2>Search Results</h2>
{%  endblock %}
