body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}


.form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
  }
  
  input, textarea {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ccc;
  }


  
 .btn{
    background-color: #1b4002cf;
    color: #080808;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
.btn:hover{
    background-color: green;
    font-size: 18px;
  }